@page
@model DemoLibWorld.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookEntity[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookEntity[0].Authorname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookEntity[0].BookCategories.BookCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookEntity[0].Releasedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookEntity[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookEntity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authorname)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookCategories.BookCategoryName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Releasedate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookId"><img src="~/img/edit.png" width="22px" height="22px"/></a> |
                <a asp-page="./Details" asp-route-id="@item.BookId"><img src="~/img/file.png" width="22px" height="22px" /></a> |
                <a asp-page="./Delete" asp-route-id="@item.BookId"><img src="~/img/delete.png" width="22px" height="22px" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
